---
title: Dish Hunter - List of Dishes
---

<div id="about">
  <div class="about-content">
    <h1>Almost ready!</h1>
    <p>We're sorry, your current restaurant is not yet referenced on our platform. But it will very likely be in the coming weeks ! Want us to let you know when</p>
  </div>

<form action="http://formspree.io/julie.ehrmann@utexas.edu" method="post">
  <input type="email" name="_replyto", placeholder="jean@michel.com">
  <input type="submit" name="_next" value="Get Notified!" class="btn btn-danger">
  <input type="hidden" name="_next" value="index.html.erb" />
</form>

<p><%= link_to "Back", "index.html.erb", class: "btn btn-primary" %></p>

</div>
