---
title: Dish Hunter
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpeg');">
  <div class="banner-content">
    <h1>Dish Hunter</h1>
    <h2>Lacking inspiration?</h2>
    <p>See what others thought of the menu before you and order your <strong>perfect meal!</strong></p>
    <a class="btn btn-danger" href="dishes.html">Find Your Restaurant</a>
  </div>
</div>

<div id="home">
  <div class="home-content">
    <p>How does it work ?</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p class="fa fa-map-marker"></p>
          <p>Search for the place you're eating at</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p class="fa fa-star"></p>
          <p>Scroll through the menu and see how previous clients rated the dishes</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p class="fa fa-comment"></p>
          <p>Contribute and rate your dishes as well!</p>
        </div>
      </div>
    </div>
  </div>
</div>

